<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.2.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.25</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.ALT.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/qkeave/Desktop/WEB/Font-Feature-Support/Y:N.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>top</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>bottom</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round X-Height</string>
			<key>x</key>
			<integer>-44</integer>
			<key>y</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round Cap Height</string>
			<key>x</key>
			<integer>-31</integer>
			<key>y</key>
			<integer>710</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round Base line</string>
			<key>x</key>
			<integer>-29</integer>
			<key>y</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Middle</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-45</integer>
			<key>y</key>
			<integer>251</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>2/3</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-46</integer>
			<key>y</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>1/3</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-46</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>dot-top</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>779</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Rounded Descender</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-26</integer>
			<key>y</key>
			<integer>-260</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>x-height</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>compressed top</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>301</integer>
			<key>y</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round condensed Baseline</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>-15</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>ALT</string>
		<string>2</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<true/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>N</string>
				<string>Y</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>N</string>
		<string>Y</string>
	</array>
</dict>
</plist>
