<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.2.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.25</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.ALT.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/qkeave/Desktop/Quinn/Jhust Typeface/Jun 24/Jhust Black Adj for STYLEEEE!!!.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>top</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>bottom</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round X-Height</string>
			<key>x</key>
			<integer>-44</integer>
			<key>y</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round Cap Height</string>
			<key>x</key>
			<integer>-31</integer>
			<key>y</key>
			<integer>710</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round Base line</string>
			<key>x</key>
			<integer>-29</integer>
			<key>y</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Middle</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-45</integer>
			<key>y</key>
			<integer>251</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>2/3</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-46</integer>
			<key>y</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>1/3</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-46</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>dot-top</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>779</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Rounded Descender</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-26</integer>
			<key>y</key>
			<integer>-260</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>x-height</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>compressed top</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>301</integer>
			<key>y</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Round condensed Baseline</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>-15</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>ALT</string>
		<string>2</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<true/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>A.sc</string>
				<string>B.sc</string>
				<string>C.sc</string>
				<string>D.sc</string>
				<string>E.sc</string>
				<string>F.sc</string>
				<string>G.sc</string>
				<string>H.sc</string>
				<string>I.sc</string>
				<string>J.sc</string>
				<string>K.sc</string>
				<string>L.sc</string>
				<string>M.sc</string>
				<string>N.sc</string>
				<string>O.sc</string>
				<string>P.sc</string>
				<string>Q.sc</string>
				<string>R.sc</string>
				<string>S.sc</string>
				<string>T.sc</string>
				<string>U.sc</string>
				<string>V.sc</string>
				<string>W.sc</string>
				<string>X.sc</string>
				<string>Y.sc</string>
				<string>Z.sc</string>
				<string>Aacute</string>
				<string>Agrave</string>
				<string>Acircumflex</string>
				<string>Adieresis</string>
				<string>Atilde</string>
				<string>Aring</string>
				<string>Acaron</string>
				<string>Amacron</string>
				<string>Abreve</string>
				<string>Ainvertedbreve</string>
				<string>Adoublegrave</string>
				<string>Adotaccent</string>
				<string>Aringacute</string>
				<string>Adieresismacron</string>
				<string>Aogonek</string>
				<string>AE</string>
				<string>AEacute</string>
				<string>AEmacron</string>
				<string>Cacute</string>
				<string>Ccircumflex</string>
				<string>Ccaron</string>
				<string>Cdotaccent</string>
				<string>Ccedilla</string>
				<string>Dcaron</string>
				<string>Dcedilla</string>
				<string>Ddotbelow</string>
				<string>Dcroat</string>
				<string>Eacute</string>
				<string>Egrave</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Ecaron</string>
				<string>Emacron</string>
				<string>Ebreve</string>
				<string>Einvertedbreve</string>
				<string>Edoublegrave</string>
				<string>Edotaccent</string>
				<string>Eacutedotbelow</string>
				<string>Egravedotbelow</string>
				<string>Eogonek</string>
				<string>Gacute</string>
				<string>Gcircumflex</string>
				<string>Gcaron</string>
				<string>Gbreve</string>
				<string>Gdotaccent</string>
				<string>Gcommaaccent</string>
				<string>Gstroke</string>
				<string>Hcircumflex</string>
				<string>Hcaron</string>
				<string>Hdotbelow</string>
				<string>Hmacronbelow</string>
				<string>Hbar</string>
				<string>Iacute</string>
				<string>Igrave</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Itilde</string>
				<string>Icaron</string>
				<string>Imacron</string>
				<string>Ibreve</string>
				<string>Iinvertedbreve</string>
				<string>Idoublegrave</string>
				<string>Idotaccent</string>
				<string>Idotbelow</string>
				<string>Iogonek</string>
				<string>Jcircumflex</string>
				<string>Jcaron</string>
				<string>Kcaron</string>
				<string>Kcommaaccent</string>
				<string>Kcedilla</string>
				<string>Khook</string>
				<string>Lacute</string>
				<string>Lcaron</string>
				<string>Lcommaaccent</string>
				<string>Lcedilla</string>
				<string>Ldotbelow</string>
				<string>Ldotbelowmacron</string>
				<string>Ldot</string>
				<string>Lslash</string>
				<string>Mmacron</string>
				<string>Mcedilla</string>
				<string>Mdotbelow</string>
				<string>Nacute</string>
				<string>Ngrave</string>
				<string>Ndieresis</string>
				<string>Ntilde</string>
				<string>Ncaron</string>
				<string>Nmacron</string>
				<string>Ndotaccent</string>
				<string>Ncommaaccent</string>
				<string>Ncedilla</string>
				<string>Ndotbelow</string>
				<string>Ndescender</string>
				<string>Oacute</string>
				<string>Ograve</string>
				<string>Ocircumflex</string>
				<string>Odieresis</string>
				<string>Otilde</string>
				<string>Ocaron</string>
				<string>Omacron</string>
				<string>Obreve</string>
				<string>Oinvertedbreve</string>
				<string>Ohungarumlaut</string>
				<string>Odoublegrave</string>
				<string>Ocommaturnedabove</string>
				<string>Otildemacron</string>
				<string>Odotaccent</string>
				<string>Odotaccentmacron</string>
				<string>Ocedilla</string>
				<string>Odotbelow</string>
				<string>Olinebelow</string>
				<string>Oogonek</string>
				<string>Oogonekmacron</string>
				<string>Oslash</string>
				<string>Oslashacute</string>
				<string>Obar</string>
				<string>OE</string>
				<string>Pmacron</string>
				<string>Racute</string>
				<string>Rcaron</string>
				<string>Rinvertedbreve</string>
				<string>Rdoublegrave</string>
				<string>Rcommaaccent</string>
				<string>Rcedilla</string>
				<string>Rdotbelow</string>
				<string>Rdotbelowmacron</string>
				<string>Sacute</string>
				<string>Scircumflex</string>
				<string>Scaron</string>
				<string>Scommaaccent</string>
				<string>Scedilla</string>
				<string>Sdotbelow</string>
				<string>germandbls.cap</string>
				<string>Tcaron</string>
				<string>Tcommaaccent</string>
				<string>Tcedilla</string>
				<string>Tdotbelow</string>
				<string>Tbar</string>
				<string>Uacute</string>
				<string>Ugrave</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Utilde</string>
				<string>Uring</string>
				<string>Ucaron</string>
				<string>Umacron</string>
				<string>Ubreve</string>
				<string>Uinvertedbreve</string>
				<string>Uhungarumlaut</string>
				<string>Udoublegrave</string>
				<string>Uogonek</string>
				<string>Udotbelow</string>
				<string>Umacronbelow</string>
				<string>Wacute</string>
				<string>Wgrave</string>
				<string>Wcircumflex</string>
				<string>Wdieresis</string>
				<string>Yacute</string>
				<string>Ygrave</string>
				<string>Ycircumflex</string>
				<string>Ydieresis</string>
				<string>Ytilde</string>
				<string>Zacute</string>
				<string>Zcaron</string>
				<string>Zdotaccent</string>
				<string>Eng</string>
				<string>Thorn</string>
				<string>Eth</string>
				<string>Ezh</string>
				<string>Ezhcaron</string>
				<string>Schwa</string>
				<string>aacute</string>
				<string>agrave</string>
				<string>acircumflex</string>
				<string>adieresis</string>
				<string>atilde</string>
				<string>aring</string>
				<string>acaron</string>
				<string>amacron</string>
				<string>abreve</string>
				<string>ainvertedbreve</string>
				<string>adoublegrave</string>
				<string>adotaccent</string>
				<string>aringacute</string>
				<string>adieresismacron</string>
				<string>aogonek</string>
				<string>ae</string>
				<string>aeacute</string>
				<string>aemacron</string>
				<string>cacute</string>
				<string>ccircumflex</string>
				<string>ccaron</string>
				<string>cdotaccent</string>
				<string>ccedilla</string>
				<string>dcaron</string>
				<string>dcedilla</string>
				<string>ddotbelow</string>
				<string>dcroat</string>
				<string>eacute</string>
				<string>egrave</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>ecaron</string>
				<string>emacron</string>
				<string>ebreve</string>
				<string>einvertedbreve</string>
				<string>edoublegrave</string>
				<string>edotaccent</string>
				<string>eacutedotbelow</string>
				<string>egravedotbelow</string>
				<string>eogonek</string>
				<string>gacute</string>
				<string>gcircumflex</string>
				<string>gcaron</string>
				<string>gbreve</string>
				<string>gdotaccent</string>
				<string>gcommaaccent</string>
				<string>gstroke</string>
				<string>g_alt</string>
				<string>hcircumflex</string>
				<string>hcaron</string>
				<string>hdotbelow</string>
				<string>hmacronbelow</string>
				<string>hbar</string>
				<string>dotlessi</string>
				<string>iacute</string>
				<string>igrave</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>itilde</string>
				<string>icaron</string>
				<string>imacron</string>
				<string>ibreve</string>
				<string>iinvertedbreve</string>
				<string>idoublegrave</string>
				<string>idotaccent</string>
				<string>idotbelow</string>
				<string>iogonek</string>
				<string>dotlessj</string>
				<string>jcircumflex</string>
				<string>jcaron</string>
				<string>kcaron</string>
				<string>kcommaaccent</string>
				<string>kcedilla</string>
				<string>khook</string>
				<string>kgreenlandic</string>
				<string>lacute</string>
				<string>lcaron</string>
				<string>lcommaaccent</string>
				<string>lcedilla</string>
				<string>ldotbelow</string>
				<string>ldotbelowmacron</string>
				<string>ldot</string>
				<string>lslash</string>
				<string>mmacron</string>
				<string>mcedilla</string>
				<string>mdotbelow</string>
				<string>nacute</string>
				<string>ngrave</string>
				<string>ndieresis</string>
				<string>ntilde</string>
				<string>ncaron</string>
				<string>nmacron</string>
				<string>ndotaccent</string>
				<string>ncommaaccent</string>
				<string>ncedilla</string>
				<string>ndotbelow</string>
				<string>ndescender</string>
				<string>oacute</string>
				<string>ograve</string>
				<string>ocircumflex</string>
				<string>odieresis</string>
				<string>otilde</string>
				<string>ocaron</string>
				<string>omacron</string>
				<string>obreve</string>
				<string>oinvertedbreve</string>
				<string>ohungarumlaut</string>
				<string>odoublegrave</string>
				<string>ocommaturnedabove</string>
				<string>otildemacron</string>
				<string>odotaccent</string>
				<string>odotaccentmacron</string>
				<string>ocedilla</string>
				<string>odotbelow</string>
				<string>olinebelow</string>
				<string>oogonek</string>
				<string>oogonekmacron</string>
				<string>oslash</string>
				<string>oslashacute</string>
				<string>obar</string>
				<string>oe</string>
				<string>pmacron</string>
				<string>racute</string>
				<string>rcaron</string>
				<string>rinvertedbreve</string>
				<string>rdoublegrave</string>
				<string>rcommaaccent</string>
				<string>rcedilla</string>
				<string>rdotbelow</string>
				<string>rdotbelowmacron</string>
				<string>sacute</string>
				<string>scircumflex</string>
				<string>scaron</string>
				<string>scommaaccent</string>
				<string>scedilla</string>
				<string>sdotbelow</string>
				<string>germandbls</string>
				<string>tcaron</string>
				<string>tcommaaccent</string>
				<string>tcedilla</string>
				<string>tdotbelow</string>
				<string>tbar</string>
				<string>uacute</string>
				<string>ugrave</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>utilde</string>
				<string>uring</string>
				<string>ucaron</string>
				<string>umacron</string>
				<string>ubreve</string>
				<string>uinvertedbreve</string>
				<string>uhungarumlaut</string>
				<string>udoublegrave</string>
				<string>uogonek</string>
				<string>udotbelow</string>
				<string>umacronbelow</string>
				<string>wacute</string>
				<string>wgrave</string>
				<string>wcircumflex</string>
				<string>wdieresis</string>
				<string>yacute</string>
				<string>ygrave</string>
				<string>ycircumflex</string>
				<string>ydieresis</string>
				<string>ytilde</string>
				<string>zacute</string>
				<string>zcaron</string>
				<string>zdotaccent</string>
				<string>eng</string>
				<string>thorn</string>
				<string>eth</string>
				<string>ezh</string>
				<string>ezhcaron</string>
				<string>schwa</string>
				<string>Aacute.sc</string>
				<string>Agrave.sc</string>
				<string>Adoublegrave.sc</string>
				<string>Abreve.sc</string>
				<string>Ainvertedbreve.sc</string>
				<string>Acaron.sc</string>
				<string>Acircumflex.sc</string>
				<string>Adieresis.sc</string>
				<string>Adieresismacron.sc</string>
				<string>Adotaccent.sc</string>
				<string>Amacron.sc</string>
				<string>Atilde.sc</string>
				<string>Aogonek.sc</string>
				<string>Aring.sc</string>
				<string>Aringacute.sc</string>
				<string>AE.sc</string>
				<string>AEacute.sc</string>
				<string>AEmacron.sc</string>
				<string>Cacute.sc</string>
				<string>Ccaron.sc</string>
				<string>Ccircumflex.sc</string>
				<string>Cdotaccent.sc</string>
				<string>Ccedilla.sc</string>
				<string>Dcaron.sc</string>
				<string>Dcroat.sc</string>
				<string>Dcedilla.sc</string>
				<string>Ddotbelow.sc</string>
				<string>Eacute.sc</string>
				<string>Eacutedotbelow.sc</string>
				<string>Egrave.sc</string>
				<string>Egravedotbelow.sc</string>
				<string>Edoublegrave.sc</string>
				<string>Ebreve.sc</string>
				<string>Einvertedbreve.sc</string>
				<string>Ecaron.sc</string>
				<string>Ecircumflex.sc</string>
				<string>Edieresis.sc</string>
				<string>Edotaccent.sc</string>
				<string>Emacron.sc</string>
				<string>Eogonek.sc</string>
				<string>Gacute.sc</string>
				<string>Gbreve.sc</string>
				<string>Gcaron.sc</string>
				<string>Gcircumflex.sc</string>
				<string>Gcommaaccent.sc</string>
				<string>Gdotaccent.sc</string>
				<string>Gstroke.sc</string>
				<string>Hbar.sc</string>
				<string>Hcaron.sc</string>
				<string>Hcircumflex.sc</string>
				<string>Hdotbelow.sc</string>
				<string>Hmacronbelow.sc</string>
				<string>Iacute.sc</string>
				<string>Igrave.sc</string>
				<string>Idoublegrave.sc</string>
				<string>Ibreve.sc</string>
				<string>Icaron.sc</string>
				<string>Icircumflex.sc</string>
				<string>Idieresis.sc</string>
				<string>Idotaccent.sc</string>
				<string>Idotbelow.sc</string>
				<string>Iinvertedbreve.sc</string>
				<string>Imacron.sc</string>
				<string>Itilde.sc</string>
				<string>Iogonek.sc</string>
				<string>Jcaron.sc</string>
				<string>Jcircumflex.sc</string>
				<string>Kcaron.sc</string>
				<string>Kcedilla.sc</string>
				<string>Kcommaaccent.sc</string>
				<string>Khook.sc</string>
				<string>Lacute.sc</string>
				<string>Lcaron.sc</string>
				<string>Lcedilla.sc</string>
				<string>Lcommaaccent.sc</string>
				<string>Ldot.sc</string>
				<string>Ldotbelow.sc</string>
				<string>Ldotbelowmacron.sc</string>
				<string>Lslash.sc</string>
				<string>Mdotbelow.sc</string>
				<string>Mmacron.sc</string>
				<string>Mcedilla.sc</string>
				<string>Nacute.sc</string>
				<string>Ngrave.sc</string>
				<string>Ncaron.sc</string>
				<string>Ncommaaccent.sc</string>
				<string>Ndescender.sc</string>
				<string>Ndieresis.sc</string>
				<string>Ndotaccent.sc</string>
				<string>Ndotbelow.sc</string>
				<string>Nmacron.sc</string>
				<string>Ntilde.sc</string>
				<string>Ncedilla.sc</string>
				<string>Oacute.sc</string>
				<string>Ograve.sc</string>
				<string>Ohungarumlaut.sc</string>
				<string>Odoublegrave.sc</string>
				<string>Obreve.sc</string>
				<string>Oinvertedbreve.sc</string>
				<string>Ocaron.sc</string>
				<string>Ocedilla.sc</string>
				<string>Ocircumflex.sc</string>
				<string>Ocommaturnedabove.sc</string>
				<string>Odieresis.sc</string>
				<string>Odotaccent.sc</string>
				<string>Odotaccentmacron.sc</string>
				<string>Odotbelow.sc</string>
				<string>Omacron.sc</string>
				<string>Otilde.sc</string>
				<string>Otildemacron.sc</string>
				<string>Olinebelow.sc</string>
				<string>Oogonek.sc</string>
				<string>Oogonekmacron.sc</string>
				<string>Oslash.sc</string>
				<string>Oslashacute.sc</string>
				<string>Obar.sc</string>
				<string>OE.sc</string>
				<string>Pmacron.sc</string>
				<string>Racute.sc</string>
				<string>Rdoublegrave.sc</string>
				<string>Rcaron.sc</string>
				<string>Rcedilla.sc</string>
				<string>Rcommaaccent.sc</string>
				<string>Rdotbelow.sc</string>
				<string>Rdotbelowmacron.sc</string>
				<string>Rinvertedbreve.sc</string>
				<string>Sacute.sc</string>
				<string>Scaron.sc</string>
				<string>Scedilla.sc</string>
				<string>Scircumflex.sc</string>
				<string>Scommaaccent.sc</string>
				<string>Sdotbelow.sc</string>
				<string>germandbls.sc</string>
				<string>Tbar.sc</string>
				<string>Tcaron.sc</string>
				<string>Tcommaaccent.sc</string>
				<string>Tcedilla.sc</string>
				<string>Tdotbelow.sc</string>
				<string>Uacute.sc</string>
				<string>Ugrave.sc</string>
				<string>Uhungarumlaut.sc</string>
				<string>Udoublegrave.sc</string>
				<string>Ubreve.sc</string>
				<string>Uinvertedbreve.sc</string>
				<string>Ucaron.sc</string>
				<string>Ucircumflex.sc</string>
				<string>Udieresis.sc</string>
				<string>Udotbelow.sc</string>
				<string>Umacron.sc</string>
				<string>Umacronbelow.sc</string>
				<string>Uogonek.sc</string>
				<string>Uring.sc</string>
				<string>Utilde.sc</string>
				<string>Wacute.sc</string>
				<string>Wcircumflex.sc</string>
				<string>Wdieresis.sc</string>
				<string>Wgrave.sc</string>
				<string>Yacute.sc</string>
				<string>Ycircumflex.sc</string>
				<string>Ydieresis.sc</string>
				<string>Ygrave.sc</string>
				<string>Ytilde.sc</string>
				<string>Zacute.sc</string>
				<string>Zcaron.sc</string>
				<string>Zdotaccent.sc</string>
				<string>Eth.sc</string>
				<string>Thorn.sc</string>
				<string>Eng.sc</string>
				<string>Ezh.sc</string>
				<string>Ezhcaron.sc</string>
				<string>Schwa.sc</string>
				<string>acute</string>
				<string>grave</string>
				<string>hungarumlaut</string>
				<string>doublegrave</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>dieresis</string>
				<string>tilde</string>
				<string>ring</string>
				<string>macron</string>
				<string>macronbelow</string>
				<string>breve</string>
				<string>invertedbreve</string>
				<string>dotaccent</string>
				<string>dotbelow</string>
				<string>cedilla</string>
				<string>altcedilla</string>
				<string>ogonek</string>
				<string>altogonek</string>
				<string>commaturnedabove</string>
				<string>caron_alt</string>
				<string>linebelow</string>
				<string>commaaccent</string>
				<string>commaaccentturned</string>
				<string>stroke</string>
				<string>baraccent</string>
				<string>slashaccent</string>
				<string>acute.cap</string>
				<string>grave.cap</string>
				<string>hungarumlaut.cap</string>
				<string>doublegrave.cap</string>
				<string>circumflex.cap</string>
				<string>caron.cap</string>
				<string>dieresis.cap</string>
				<string>tilde.cap</string>
				<string>ring.cap</string>
				<string>macron.cap</string>
				<string>breve.cap</string>
				<string>invertedbreve.cap</string>
				<string>dotaccent.cap</string>
				<string>dotbelow.cap</string>
				<string>linebelow.cap</string>
				<string>commaaccent.cap</string>
				<string>commaaccentturned.cap</string>
				<string>cedilla.cap</string>
				<string>altcedilla.cap</string>
				<string>ogonek.cap</string>
				<string>altogonek.cap</string>
				<string>commaturnedabove.cap</string>
				<string>croat.cap</string>
				<string>acute.sc</string>
				<string>grave.sc</string>
				<string>hungarumlaut.sc</string>
				<string>doublegrave.sc</string>
				<string>circumflex.sc</string>
				<string>caron.sc</string>
				<string>dieresis.sc</string>
				<string>tilde.sc</string>
				<string>ring.sc</string>
				<string>macron.sc</string>
				<string>breve.sc</string>
				<string>invertedbreve.sc</string>
				<string>dotaccent.sc</string>
				<string>dotbelow.sc</string>
				<string>linebelow.sc</string>
				<string>cedilla.sc</string>
				<string>altcedilla.sc</string>
				<string>ogonek.sc</string>
				<string>altogonek.sc</string>
				<string>commaturnedabove.sc</string>
				<string>croat.sc</string>
				<string>commaaccent.sc</string>
				<string>commaaccentturned.sc</string>
				<string>f_i</string>
				<string>f_l</string>
				<string>f_j</string>
				<string>f_f</string>
				<string>f_b</string>
				<string>f_h</string>
				<string>f_k</string>
				<string>f_f_i</string>
				<string>f_f_l</string>
				<string>f_f_j</string>
				<string>f_f_f</string>
				<string>f_f_b</string>
				<string>f_f_h</string>
				<string>f_f_k</string>
				<string>s_t</string>
				<string>c_t</string>
				<string>paragraph</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>exclamdown</string>
				<string>exclam</string>
				<string>questiondown</string>
				<string>question</string>
				<string>interrobangdown</string>
				<string>interrobang</string>
				<string>ellipsis</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>underscore</string>
				<string>slash</string>
				<string>backslash</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>asterisk</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>periodcentered</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>bullet</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>anglebracketleft</string>
				<string>anglebracketright</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>at</string>
				<string>copyright</string>
				<string>registered</string>
				<string>published</string>
				<string>ampersand</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>numbersign</string>
				<string>section</string>
				<string>Euro</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>florin</string>
				<string>yen</string>
				<string>colonmonitary</string>
				<string>plus</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>equal</string>
				<string>notequal</string>
				<string>approxequal</string>
				<string>less</string>
				<string>greater</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>infinity</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>degree</string>
				<string>logicalnot</string>
				<string>mu</string>
				<string>pi</string>
				<string>partialdiff</string>
				<string>integral</string>
				<string>radical</string>
				<string>increment</string>
				<string>ohm</string>
				<string>product</string>
				<string>summation</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>currency</string>
				<string>asciitilde</string>
				<string>asciicircum</string>
				<string>trademark</string>
				<string>servicemark</string>
				<string>litre</string>
				<string>estimated</string>
				<string>numero</string>
				<string>lozenge</string>
				<string>enspace</string>
				<string>emspace</string>
				<string>threeperemspace</string>
				<string>fourperemspace</string>
				<string>sixperemspace</string>
				<string>figurespace</string>
				<string>punctuationspace</string>
				<string>hairspace</string>
				<string>thinspace</string>
				<string>zerowidthspace</string>
				<string>nbspace</string>
				<string>zero.LP</string>
				<string>one.LP</string>
				<string>two.LP</string>
				<string>three.LP</string>
				<string>four.LP</string>
				<string>five.LP</string>
				<string>six.LP</string>
				<string>seven.LP</string>
				<string>eight.LP</string>
				<string>nine.LP</string>
				<string>numbersign.LP</string>
				<string>section.LP</string>
				<string>Euro.LP</string>
				<string>dollar.LP</string>
				<string>cent.LP</string>
				<string>sterling.LP</string>
				<string>florin.LP</string>
				<string>yen.LP</string>
				<string>colonmonitary.LP</string>
				<string>plus.LP</string>
				<string>minus.LP</string>
				<string>plusminus.LP</string>
				<string>multiply.LP</string>
				<string>divide.LP</string>
				<string>equal.LP</string>
				<string>notequal.LP</string>
				<string>approxequal.LP</string>
				<string>less.LP</string>
				<string>greater.LP</string>
				<string>lessequal.LP</string>
				<string>greaterequal.LP</string>
				<string>infinity.LP</string>
				<string>percent.LP</string>
				<string>perthousand.LP</string>
				<string>zero.OT</string>
				<string>one.OT</string>
				<string>two.OT</string>
				<string>three.OT</string>
				<string>four.OT</string>
				<string>five.OT</string>
				<string>six.OT</string>
				<string>seven.OT</string>
				<string>eight.OT</string>
				<string>nine.OT</string>
				<string>zero.LT</string>
				<string>one.LT</string>
				<string>two.LT</string>
				<string>three.LT</string>
				<string>four.LT</string>
				<string>five.LT</string>
				<string>six.LT</string>
				<string>seven.LT</string>
				<string>eight.LT</string>
				<string>nine.LT</string>
				<string>exclamdown.cap</string>
				<string>questiondown.cap</string>
				<string>interrobangdown.cap</string>
				<string>guilsinglleft.cap</string>
				<string>guilsinglright.cap</string>
				<string>guillemotleft.cap</string>
				<string>guillemotright.cap</string>
				<string>periodcentered.cap</string>
				<string>hyphen.cap</string>
				<string>endash.cap</string>
				<string>emdash.cap</string>
				<string>bullet.cap</string>
				<string>parenleft.cap</string>
				<string>parenright.cap</string>
				<string>bracketleft.cap</string>
				<string>bracketright.cap</string>
				<string>braceleft.cap</string>
				<string>braceright.cap</string>
				<string>anglebracketleft.cap</string>
				<string>anglebracketright.cap</string>
				<string>dagger.cap</string>
				<string>daggerdbl.cap</string>
				<string>at.cap</string>
				<string>copyright.cap</string>
				<string>registered.cap</string>
				<string>published.cap</string>
				<string>exclamdown.sc</string>
				<string>questiondown.sc</string>
				<string>interrobangdown.sc</string>
				<string>guilsinglleft.sc</string>
				<string>guilsinglright.sc</string>
				<string>guillemotleft.sc</string>
				<string>guillemotright.sc</string>
				<string>periodcentered.sc</string>
				<string>hyphen.sc</string>
				<string>endash.sc</string>
				<string>emdash.sc</string>
				<string>bullet.sc</string>
				<string>parenleft.sc</string>
				<string>parenright.sc</string>
				<string>bracketleft.sc</string>
				<string>bracketright.sc</string>
				<string>braceleft.sc</string>
				<string>braceright.sc</string>
				<string>anglebracketleft.sc</string>
				<string>anglebracketright.sc</string>
				<string>dagger.sc</string>
				<string>daggerdbl.sc</string>
				<string>at.sc</string>
				<string>copyright.sc</string>
				<string>registered.sc</string>
				<string>published.sc</string>
				<string>ampersand.sc</string>
				<string>zero.sups</string>
				<string>one.sups</string>
				<string>two.sups</string>
				<string>three.sups</string>
				<string>four.sups</string>
				<string>five.sups</string>
				<string>six.sups</string>
				<string>seven.sups</string>
				<string>eight.sups</string>
				<string>nine.sups</string>
				<string>parenleft.sups</string>
				<string>parenright.sups</string>
				<string>plus.sups</string>
				<string>minus.sups</string>
				<string>multiply.sups</string>
				<string>divide.sups</string>
				<string>equal.sups</string>
				<string>period.sups</string>
				<string>comma.sups</string>
				<string>zero.ordn</string>
				<string>one.ordn</string>
				<string>two.ordn</string>
				<string>three.ordn</string>
				<string>four.ordn</string>
				<string>five.ordn</string>
				<string>six.ordn</string>
				<string>seven.ordn</string>
				<string>eight.ordn</string>
				<string>nine.ordn</string>
				<string>parenleft.ordn</string>
				<string>parenright.ordn</string>
				<string>plus.ordn</string>
				<string>minus.ordn</string>
				<string>multiply.ordn</string>
				<string>divide.ordn</string>
				<string>equal.ordn</string>
				<string>period.ordn</string>
				<string>comma.ordn</string>
				<string>zero.subs</string>
				<string>one.subs</string>
				<string>two.subs</string>
				<string>three.subs</string>
				<string>four.subs</string>
				<string>five.subs</string>
				<string>six.subs</string>
				<string>seven.subs</string>
				<string>eight.subs</string>
				<string>nine.subs</string>
				<string>parenleft.subs</string>
				<string>parenright.subs</string>
				<string>plus.subs</string>
				<string>minus.subs</string>
				<string>multiply.subs</string>
				<string>divide.subs</string>
				<string>equal.subs</string>
				<string>period.subs</string>
				<string>comma.subs</string>
				<string>zero.sinf</string>
				<string>one.sinf</string>
				<string>two.sinf</string>
				<string>three.sinf</string>
				<string>four.sinf</string>
				<string>five.sinf</string>
				<string>six.sinf</string>
				<string>seven.sinf</string>
				<string>eight.sinf</string>
				<string>nine.sinf</string>
				<string>parenleft.sinf</string>
				<string>parenright.sinf</string>
				<string>plus.sinf</string>
				<string>minus.sinf</string>
				<string>multiply.sinf</string>
				<string>divide.sinf</string>
				<string>equal.sinf</string>
				<string>period.sinf</string>
				<string>comma.sinf</string>
				<string>a.sups</string>
				<string>b.sups</string>
				<string>c.sups</string>
				<string>d.sups</string>
				<string>e.sups</string>
				<string>f.sups</string>
				<string>g.sups</string>
				<string>h.sups</string>
				<string>i.sups</string>
				<string>j.sups</string>
				<string>k.sups</string>
				<string>l.sups</string>
				<string>m.sups</string>
				<string>n.sups</string>
				<string>o.sups</string>
				<string>p.sups</string>
				<string>q.sups</string>
				<string>r.sups</string>
				<string>s.sups</string>
				<string>t.sups</string>
				<string>u.sups</string>
				<string>v.sups</string>
				<string>w.sups</string>
				<string>x.sups</string>
				<string>y.sups</string>
				<string>z.sups</string>
				<string>a.ordn</string>
				<string>b.ordn</string>
				<string>c.ordn</string>
				<string>d.ordn</string>
				<string>e.ordn</string>
				<string>f.ordn</string>
				<string>g.ordn</string>
				<string>h.ordn</string>
				<string>i.ordn</string>
				<string>j.ordn</string>
				<string>k.ordn</string>
				<string>l.ordn</string>
				<string>m.ordn</string>
				<string>n.ordn</string>
				<string>o.ordn</string>
				<string>p.ordn</string>
				<string>q.ordn</string>
				<string>r.ordn</string>
				<string>s.ordn</string>
				<string>t.ordn</string>
				<string>u.ordn</string>
				<string>v.ordn</string>
				<string>w.ordn</string>
				<string>x.ordn</string>
				<string>y.ordn</string>
				<string>z.ordn</string>
				<string>a.subs</string>
				<string>b.subs</string>
				<string>c.subs</string>
				<string>d.subs</string>
				<string>e.subs</string>
				<string>f.subs</string>
				<string>g.subs</string>
				<string>h.subs</string>
				<string>i.subs</string>
				<string>j.subs</string>
				<string>k.subs</string>
				<string>l.subs</string>
				<string>m.subs</string>
				<string>n.subs</string>
				<string>o.subs</string>
				<string>p.subs</string>
				<string>q.subs</string>
				<string>r.subs</string>
				<string>s.subs</string>
				<string>t.subs</string>
				<string>u.subs</string>
				<string>v.subs</string>
				<string>w.subs</string>
				<string>x.subs</string>
				<string>y.subs</string>
				<string>z.subs</string>
				<string>a.sinf</string>
				<string>b.sinf</string>
				<string>c.sinf</string>
				<string>d.sinf</string>
				<string>e.sinf</string>
				<string>f.sinf</string>
				<string>g.sinf</string>
				<string>h.sinf</string>
				<string>i.sinf</string>
				<string>j.sinf</string>
				<string>k.sinf</string>
				<string>l.sinf</string>
				<string>m.sinf</string>
				<string>n.sinf</string>
				<string>o.sinf</string>
				<string>p.sinf</string>
				<string>q.sinf</string>
				<string>r.sinf</string>
				<string>s.sinf</string>
				<string>t.sinf</string>
				<string>u.sinf</string>
				<string>v.sinf</string>
				<string>w.sinf</string>
				<string>x.sinf</string>
				<string>y.sinf</string>
				<string>z.sinf</string>
				<string>fraction</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>uni2191</string>
				<string>uni2197</string>
				<string>uni2192</string>
				<string>uni2198</string>
				<string>uni2193</string>
				<string>uni2199</string>
				<string>uni2190</string>
				<string>uni2196</string>
				<string>uni25B2</string>
				<string>uni25E5</string>
				<string>uni25B6</string>
				<string>uni25E2</string>
				<string>uni25BC</string>
				<string>uni25E3</string>
				<string>uni25C0</string>
				<string>uni25E4</string>
				<string>uni25A0</string>
				<string>uni25A1</string>
				<string>uni25A3</string>
				<string>uni25CF</string>
				<string>uni25CB</string>
				<string>uni25CD</string>
				<string>uni25CE</string>
				<string>uni25C9</string>
				<string>uni2605</string>
				<string>uni2620</string>
				<string>foundry.mark</string>
				<string>R.Flat</string>
				<string>R.flat</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>N</string>
		<string>Y</string>
	</array>
</dict>
</plist>
